main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding-top: 72px;
}

h1{
    font-size: 64px;
    color: rgb(180, 0, 0);
    margin: 0;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    width: 100%;
}

.image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: -150px;
    margin-bottom: -150px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 16px;
    margin: 0;
}

.red-arrow {
  width: 220px;
  padding-top: 10px;
  overflow: hidden;
}

.red-arrow > img {
  width: 100%;
  /* Start: komplett abgeschnitten (rechts 100%) */
  clip-path: inset(0 100% 0 0);
  animation: revealRightToLeft 1s ease-in-out infinite;
}

@keyframes revealRightToLeft {
  0% {
    clip-path: inset(0 100% 0 0); /* komplett versteckt */
  }
  70% {
    clip-path: inset(0 0 0 0);    /* vollständig sichtbar */
  }
  100% {
    clip-path: inset(0 0 0 0);    /* bleibt sichtbar → Pause */
  }
}

    .img{
        width: 350px;
        border-radius: 50px 10px ;
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
    }

    .catering-1{
        padding-top: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .catering-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .catering-3{
        margin-top: -400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }