<main>
    <div class="content">
        <h1>Catering</h1>
        <div class="image-container">
            <div>
                <img src="" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>

            <div>
                <img src="" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>

            <div>
                <img src="" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>
        </div>
        <div class="button-container">
            <div class="red-arrow"><img src="assets/img/red arrow.png" alt="red-arrow"></div>
            <app-button>
            </app-button>
        </div>
    </div>
</main>