<main>
 <div class="catering-icon">
  <img src="assets/img/catering-icon.png" class="icon-1" alt="Catering Icon 1">
  <img src="assets/img/catering-icon-2.png" class="icon-2" alt="Catering Icon 2">
</div>

    <div class="content">
        <h1>Catering</h1>
        <div class="image-container">
            <div class="catering-1">
                <img src="assets/img/catering.jpg" class="img" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>

            <div class="catering-2">
                <img src="assets/img/catering.jpg" class="img" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>

            <div class="catering-3">
                <img src="assets/img/catering.jpg" class="img" alt="catering-bild">
                <h3>Beschriftung</h3>
            </div>
        </div>
        
        <div class="contact">

        
        <div class="text">Ob Familienfeier, Firmenveranstaltung oder Hochzeitsbuffet - unser Catering sorgt dafür, dass Ihre Gäste kulinarisch bestens versorgt sind. <br> Wir bieten frisch zubereitete Speisen, flexible Menüs und zuverlässigen Service - ganz nach Ihren Wünschen. <br> <br> Bitte rufen Sie uns mindestens eine Woche im Voraus an, damit wir Ihr Event optimal planen können.

        </div>
        <div class="button-container">
            <div class="red-arrow"><img src="assets/img/red arrow.png" alt="red-arrow"></div>
            <app-button>
            </app-button>
        </div>
    </div>
    </div>
</main>