<app-header></app-header>

<main>
  <div class="header">
    <h1>Bestellungen</h1>
  </div>

  <div
    class="order-content"
    [style.justify-content]="(orders$ | async)?.length ? 'flex-start' : 'center'"
  >
    <div class="no-orders" *ngIf="(orders$ | async)?.length === 0">
      <p>Es sind noch keine Bestellungen eingegangen</p>
      <button>Zur Speisekarte</button>
    </div>

    <ng-container *ngIf="(orders$ | async) as orders">
      <app-order-item
        *ngFor="let order of orders"
        [order]="order" [orderId]="order.id"
        [activeOrderId]="activeOrderId"
    (toggle)="setActiveOrder(order.id)">
      </app-order-item>
    </ng-container>
  </div>
</main>
