<main>
    <h1>Unser Lieferservice</h1>

    <div class="sub-content">
        <div class="min-order">
            <h2>Mindestbestellwert</h2>
            <table>
                <tr>
                    <td class="order-value free-delivery">Lieferung frei Haus</td>
                    <td class="to">nach</td>
                    <td class="place">Würges, Bad Camberg, Walsdorf</td>
                </tr>
                <tr>
                    <td class="order-value">15,-€</td>
                    <td class="to">nach</td>
                    <td class="place">Dombach, Wallrabenstein, Esch, Oberselters, Erbach</td>
                </tr>
                <tr>
                    <td class="order-value">20,-€</td>
                    <td class="to">nach</td>
                    <td class="place">Niederselters, Eisenbach, Steinfischbach, Beuerbach, Bechtheim, Bermbach,
                        Schwickershausen, Wörsdorf</td>
                </tr>
                <tr>
                    <td class="order-value">25,-€</td>
                    <td class="to">nach</td>
                    <td class="place">Heftrich, Niederems, Reichenbach, Riedelbach, Wallbach</td>
                </tr>
                <tr>
                    <td class="order-value">30,-€</td>
                    <td class="to">nach</td>
                    <td class="place">Idstein, Wüstems, Ketternschwalbach, Ohren, Riedelbach, Dauborn</td>
                </tr>
            </table>
        </div>
        <div class="company-offer">
            <h2>Mittagsangebote für Firmen</h2>
            <table>
                <tr>
                    <td class="meals">Salate mit Pizzabrot:</td>
                    <td>6,50 €</td>
                </tr>
                <tr>
                    <td class="meals">Pizzen und Nudelgerichte:</td>
                    <td>6,00 €</td>
                </tr>
                <tr>
                    <td class="meals">Schnitzel:</td>
                    <td>8,00 €</td>
                </tr>
                <tr>
                    <td class="meals">Indische Gerichte:</td>
                    <td>8,50 €</td>
                </tr>
            </table>
        </div>
    </div>
    <app-button text="Jetzt bestellen" shadowColor="black"></app-button>
</main>