<div class="order-container">
  <div class="order-wrapper-top">
    <div class="left-side">
      <strong>Bestellnummer:</strong> {{ orderId }}
    </div>
    <div class="right-side">
      <strong class="color-red">Gesamtbetrag:</strong> {{ order.total | number:'1.2-2' }} €
    </div>
  </div>

  <div class="order-wrapper-bottom">
    <p><strong>Bestelldatum:</strong> {{ order.timestamp | date:'medium' }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
    <p class="underline" (click)="onToggleDetails()">
      {{ showDetails ? 'Details ausblenden' : 'Zu den Bestelldetails' }}
    </p>
  </div>
</div>


<div class="order-details" *ngIf="showDetails">
  <div class="details">
    <div><strong>Name:</strong> {{ order.name }}</div>
    <div><strong>Telefon:</strong> {{ order.phone }}</div>
    <div *ngIf="order.abholung">
      <strong>Abholung:</strong> Ja
    </div>
    <div *ngIf="!order.abholung && order.lieferung">
      <strong>Lieferung:</strong> Ja
    </div>
    <div *ngIf="order.uhrzeit">
      <strong>Bestellt für:</strong> {{ order.uhrzeit }}
    </div>
    <div>
      <strong>Uhrzeit:</strong> {{ order.timestamp | date:'HH:mm' }} Uhr
    </div>
  </div>

  <div class="order-article-head">
    <h4>Bestellte Artikel</h4>
  </div>

  <div class="items" *ngFor="let item of order.items; index as i">
      <div class="meal">
        <p> <strong class="number">{{ item.gerichtNummer }}</strong> </p>
        
        <p>{{ item.title }}</p>
      </div>

      <div class="opts">
        <p> <strong>Entfernt:</strong></p>
        
        <p> {{ item.zutatenEntfernt.length ? item.zutatenEntfernt.join(', ') : '–' }}</p> 
      </div>

      <div class="opts">
        <p><strong>Hinzugefügt:</strong></p>
      
        <p>{{ item.zutatenHinzugefuegt.length ? item.zutatenHinzugefuegt.join(', ') : '–' }}</p>
      </div>


      <div class="price">
        <p><strong>Preis:</strong> </p>
        <p>{{ item.preis | number:'1.2-2' }} €</p>
      </div>
    </div>
  </div>