.order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 32px;
  margin: 0;
  gap: 24px;
  background: transparent;
  /* ⚠️ kein festes Grau hier – das kommt vom Parent */
}

/* Struktur in der Bestellung */
.order-wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.order-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.underline {
  text-decoration: underline;

  &:hover {
    color: rgb(160, 0, 0);
    cursor: pointer;
  }
}

.color-red {
  color: rgb(160, 0, 0);
}

.order-details{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.order-article-head h4 {
      padding: 12px 24px;
      font-size: 17px;
      font-weight: 600;
      color: rgb(160, 0, 0);
      margin: 0;
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      width: 100%;
      gap: 32px;
       border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .meal{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 100%;
    }

    .number{
      color: rgb(160, 0, 0);
    }
    .opts{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      width: 100%;
    }

    .price{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100%;
    }