<main>
  <div class="hero-container">
    <app-header></app-header>

    <!-- DIREKT ABSOLUT POSITIONIERT, KEIN CONTAINER MEHR -->
    <video
      #backgroundVideo
      autoplay
      loop
      muted
      playsinline
      class="background-clip"
    >
      <source src="assets/video/saucierer.mp4" type="video/mp4">
    </video>

    <img src="assets/img/hero-bg.png" alt="" class="hero-image">

    <div class="slogan">
      <div class="genuss">
        <h1>GENUSS MIT TRADITION</h1>
      </div>

      <div class="logo">
        <img src="assets/img/Schwarzes Ross.png" alt="">
      </div>

      <div class="welcome">
        <h1>WILLKOMMEN IM <b>SCHWARZEN ROSS</b></h1>
      </div>
    </div>
  </div>
</main>
