main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slogan {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 60px;
  z-index: 2;
  pointer-events: none;

}



h1 {
  color: white;
  font-size: 64px;
  font-family: 'Kalam', sans-serif;
}

.genuss {
  align-self: flex-start;
  text-align: left;
  width: 600px;
  padding-top: 64px;

  h1{
    filter: drop-shadow(1px 1px 7px rgba(255, 255, 255, 0.519));
  }
}


.welcome {
  width: 100%;
  margin-top: -128px;
  display: flex;
  justify-content: flex-end;   // nach rechts schieben
  align-items: flex-end;        // nach unten schieben
  height: 200px;                // oder ein anderer fester/relativer Wert
  text-align: right;
  pointer-events: none;

  h1 {
    width: 600px;
    filter: drop-shadow(1px 1px 7px rgba(255, 255, 255, 0.682));
  }
}


.background-clip {
  position: absolute;
  bottom: 0px;
  left: 50px;
  width: 40%;
  object-fit: contain;
  filter: brightness(0.8) contrast(1.2);
  z-index: 2;  
  pointer-events: none;
}


.hero-image {
  position: absolute;
  top: 180px;
  right: 100px;
  width: 550px;
  filter: drop-shadow(1px 1px 20px rgba(255, 255, 255, 0.34));
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
  pointer-events: none;
}


app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

b {
  color: rgb(160, 0, 0);
}

.logo {
  align-self: center;
  text-align: center;
  width: 350px;
  filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.721)) contrast(1.2);

  img {
    width: 100%;
  }
}
