
<main>
  <div class="hero-container">
    <app-header></app-header>
    <video  #backgroundVideo autoplay loop muted playsinline class="background-clip">
      <source src="assets/video/background-clip.mp4" type="video/mp4">
    </video>
    <div class="slogan">
      <h1 class="genuss">
        GENUSS MIT TRADITION
      </h1>
      <img class="logo" src="assets/img/Schwarzes Ross.png" alt="">
      <h1 class="welcome"> WILLKOMMEN IM <b>SCHWARZEN ROSS</b></h1>
    </div>
    
  </div>
</main>
