<app-header></app-header>
<main>
  <div class="content">
    <h1>Speisen</h1>

    <div class="meals">

      <app-meals-banner
        [title]="'Vorspeisen'"
        [backgroundImage]="'assets/img/oily-58745_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Salate'"
        [backgroundImage]="'assets/img/vegetables-8176731_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Kleine Gerichte'"
        [backgroundImage]="'assets/img/nuggets.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Burger'"
        [backgroundImage]="'assets/img/ai-generated-8302143_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Überbackene Nudeln'"
        [backgroundImage]="'assets/img/spaghetti-bolognese-7517639_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Nudelgerichte'"
        [backgroundImage]="'assets/img/spaghetti-bolognese-7517639_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Pizzen'"
        [backgroundImage]="'assets/img/ai-generated-8775471_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Schnitzelgerichte'"
        [backgroundImage]="'assets/img/schnitzel-8147627_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Unsere Spezialitäten'"
        [backgroundImage]="'assets/img/schnitzel-8147627_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Argentinische Rindersteaks'"
        [backgroundImage]="'assets/img/steak-7423223_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Fischgerichte'"
        [backgroundImage]="'assets/img/seezungefilet.png'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Indische & Pakistanische Spezialitäten'"
        [backgroundImage]="'assets/img/biryani-7009110_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Dessert & Extras'"
        [backgroundImage]="'assets/img/tiramisu.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

      <app-meals-banner
        [title]="'Getränke'"
        [backgroundImage]="'assets/img/cola-7263982_1920.jpg'"
        (clicked)="openScrollable($event)">
      </app-meals-banner>

    </div>
  </div>
</main>
