:host {
  display: block;
  width: 100%;
}

h5 {
  font-family: 'Kalam', sans-serif;
  font-size: 1.4rem;
  color: rgb(160, 0, 0);
  margin-bottom: 0.75rem;
}

.add-ingredients{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  width: 100%;
  margin-top: 32px;
}

.extras-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  >.btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 16px;

  }
}

.btn {
  padding: 0.4rem 0.8rem;
  border: 1px solid #155724;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #155724;

  &.active {
    background-color: #155724;
    color: #fff;
  }

  &:hover {
    background-color: #155724;
    color: #fff;
    cursor: pointer;
  }
}

.fade-slide {
  animation: fadeSlideIn 0.3s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
