<main>
    <div class="content">
        <div class="logo" routerLink="/" routerLinkActive="active"><img src="assets/img/Logo.png" alt="Logo"></div>
        <nav>
            <a>Lieferservice</a>
            <a>Catering</a>
            <a routerLink="/speisen" routerLinkActive="active">Speisekarte</a>
            <a routerLink="/warenkorb" routerLinkActive="active">Warenkorb</a>
            <a routerLink="/bestellungen" routerLinkActive="active">Bestellungen</a>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </nav>
    </div>
</main>